@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1em;
}

html {
    font-family: Rubik, Roboto, sans-serif;
    font-size: 15px;
}

.logo-container {
    text-align: center;
/*     background: linear-gradient(45deg, #fff4b7, #feffee); */
/*     border-bottom-left-radius: 28px; */
/*     border-bottom-right-radius: 28px; */
    color: #fff4b7;
    border-bottom: 1px solid #888262;
    display: flex;
    align-items: center;
}

.site-logo-img {
    height: 50px;
    padding-right: 10px;
}

.site-title-container {
    padding: 0 45px;
}

.site-title {
    padding: 5px 5px;
    font-size: 22.5px;
    background-color: #888262;
}

.nav-container {
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: #fffbe1;
    border-bottom: 1px solid #b9b085;
}

.nav-bar {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar-item {
    padding-right: 20px;
    color: #5f5f37;
    position: relative;
    text-decoration: none;
}

.nav-bar-item:hover {
    color: #a2a25e;
}

.nav-bar-item:active {
    color: #81814b;
}

.nav-bar-item::before {
    position: absolute;
    right: 7.5px;
    top: calc(50% - 1.5px);
    content: "";
    width: 5px;
    height: 5px;
    background: #5f5f37;
    border-radius: 100%;
}

.nav-bar-item:last-of-type {
    padding-right: 0;
}

.nav-bar-item:last-of-type::before, .dotless::before {
    display: none;
}

.nav-bar-item-button {
    margin-right: 10px;
    color: #3d3d23;
    position: relative;
    border: 1px solid #3d3d23;
    border-radius: 28px;
    padding: 5px 20px;
}

.welcome {
    padding: 20px;
    text-align: center;
}

.posts {
    padding: 0;
}

.post {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #aaa;
}

.post-title {
    font-size: 15px;
}

.post-content {
    padding-top: 10px;
    color: #555;
}

.go {
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: end;
    padding-top: 10px;
}

.go-arrow {
    border: 1px solid #111;
    display: inline-flex;
    border-radius: 100%;
    padding: 5px;
    transition: 0.33s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.go-img {
    width: 32px;
}

.go-arrow:hover {
    background-color: #111;
}

.go-arrow:hover .go-img {
    filter: invert(1);
}

.recent {
    font-size: 15px;
    padding: 10px 45px;
}

.panes {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    width: 200px;
    padding: 0 20px;
}

.authors-title {
    font-size: 15px;
}

.authors {
    padding-top: 20px;
    display: flex;
}

.avatar {
    width: 50px;
    height: 50px;

    border-radius: 100px;
}

.author {
    border: 1px solid #ddd;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 0.33s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.author:hover {
    border: 1px solid #777;
    background: #eee;
}

.page-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    line-break: anywhere;
}

.page {
    max-width: min(100%, 900px);
    line-height: 1.5;
}

.page h1, .page h2, .page h3, .page h4, .page h5 {
    padding-top: 1.1em;
    padding-bottom: 0.2em;
}

.toc-container {
    padding: 20px;
    min-width: 200px;
    float: right;
}


.page-split {
    display: flex;
}

.toc-title {
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.authorship {
    color: #333;
}

mjx-container {
    overflow: auto;
    min-width: unset !important;
}

.footer {
    color: #777;
    padding: 100px 20px 10px;
}

.footer-text {
    display: inline-block;
    padding: 5px 20px 0 0;
    border-top: 1px solid #aaa;
}

.logo-container-post, .logo-container-category {
    text-align: center;
    border-bottom: 1px solid white;
    background-color: #1d1c15;
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
}

.logo-container-category {
    background-color: #67634b;
}

.site-title-container-post {
    padding: 0 45px;
    text-decoration: none;
    color: #111;
}

.site-title-post {
    padding: 5px 5px;
    font-size: 22.5px;
    background-color: white;
}

.site-title-category {
    color: #67634b;
}

.site-title-post:hover {
    color: #888262;
}

.site-title-post:active {
    color: #474433;
}

.article-post-title {
    color: white;
    flex: 1;
    text-align: center;
}

.title {
    font-size: 15px;
}

.article {
    font-size: 16px;
}

.article p {
    font-family: "Noto Serif SC", "SimSun", serif;
    font-size: 1em;
    padding-bottom: 1.5em;
}

.post-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1c15;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #5b5743;
}

.post-footer-item {
    text-align: center;
    padding: 5px 0;
}

.post-footer-item-img {
    height: 20px;
    width: auto;
    filter: invert(1);
}

.footer-label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.post-footer-item:hover .post-footer-item-img {
    filter: invert(1) brightness(0.9);
}

.post-footer-item:hover .footer-label {
    color: #ccc;
}

.post-footer-item:active .post-footer-item-img {
    filter: invert(1) brightness(0.5);
}

.post-footer-item:active .footer-label {
    color: #666;
}

.article img {
    max-width: 100%;
}

.article a {
    text-decoration: none;
    font-weight: 600;
    color: #918a65;
}

.article a:hover {
    color: #5d5841;
}

.article a:active {
    color: #222018;
}

.article ol, .article ul {
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: "Noto Serif SC", "SimSun", serif;
}

.highlight {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    margin-bottom: 1.5em;
}

.highlight pre {
    padding: 5px;
    line-height: 1.3em;
    font-size: 0.875em;
}

code {
    font-family: "Source Code Pro", monospace;
}

.article figure {
    text-align: center;
}

.article figure figcaption {
    color: #777;
    font-style: italic;
}

.toc {
    max-width: 300px;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 0 3px #cdcdcd;
}

.toc ul {
    padding-left: 10px;
}

.toc ul li {
    list-style: none;
    font-family: Rubik, Roboto, sans-serif;
    font-size: 15px;
}

.toc a {
    text-decoration: none;
    color: #777;
    font-weight: normal;
}

.toc a:hover {
    color: #555;
}

.toc a:active {
    color: #111;
}

.toc ul {
    padding-bottom: 0;
}

.intro {
    padding: 20px 0;
}

@media print {
    .site-title-container-post {
        display: none;
    }

    .post-footer {
        display: none;
    }

    .footer {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .site-title-container-post, .site-title-container {
        padding: 0;
    }

    .toc-container {
        display: flex;
        float: unset;
        padding: 0;
        padding-top: 20px;
    }

    .toc {
        flex: 1;
    }
}

@media screen and (max-width: 930px) {
    .panes {
        display: block;
    }

    .right {
        width: unset;
        padding: 0;
        padding-top: 20px;
    }

    .authors-title {
        padding: 0 45px;
    }

    .authors {
        padding: 10px 20px;
    }
}
